<h1>
ようこそ <strong>Bookersへ!</strong></h1>
<div style="margin: 10px 70px; font-size:13px;">
<p><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や<br></p>
<p style="margin: 30px 0; ">印象を共有し交換することができます</p>
<%= link_to 'start', books_path %>
</div>